@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  background: #f5f6f8 !important;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #000;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}

p,
ul,
a {
  font-size: 14px;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  margin-bottom: 1rem;
}

.header {
  border-bottom: 1px solid #ccc;
  padding: 15px;
  display: table;
  width: 100%;
  background: #fff;
}

.logo a {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  float: left;
}

.user-div {
  float: right;
}
.user-div small {
  display: block;
  color: #9a9a9a;
  font-size: 13px;
}
.user-div img {
  margin-right: 15px;
}

a.user-toggle.dropdown-toggle {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.user-toggle span {
  font-weight: 600;
  line-height: 15px;
}

.user-div .dropdown-menu {
  top: 12px !important;
  min-width: 11rem;
}
.user-div .dropdown-menu a {
  padding: 9px 15px;
}

.user-div .dropdown-menu {
  padding: 0px;
}

.sidebar {
  width: 220px;
  float: left;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 66px;
  background: #fff;
  border-right: 1px solid #ccc;
}

.sidebar ul {
  margin: 0px;
  padding: 0px;
}

.sidebar ul li {
  display: block;
}

.sidebar ul li a {
  padding: 15px;
  display: block;
  font-size: 16px;
  color: #36445b;
  text-transform: capitalize;
  border-right: 5px solid transparent;
}

.sidebar ul li a img {
  margin-right: 10px;
}

.sidebar ul li a:hover {
  background: #e6f2ff;
  color: #36445b;
  text-decoration: none;
  border-right: 5px solid #2569e6;
}
.sidebar ul li a.active {
  background: #e6f2ff;
  color: #36445b;
  text-decoration: none;
  border-right: 5px solid #2569e6;
}
.sidebar .dropdown-menu {
  position: static !important;
  border-radius: 0px;
  float: none;
  background: #fff;
  transform: translate(0px, 0px) !important;
  border: 0px;
  padding-left: 35px;
}

.sidebar .dropdown-menu a {
  padding: 5px 10px;
}

.sidebar li.show.dropdown a.dropdown-toggle {
  background: linear-gradient(
    250deg,
    rgba(39, 107, 231, 1) 50%,
    rgba(77, 138, 251, 1) 100%
  );
  color: #fff;
}

.sidebar a.dropdown-toggle:after {
  display: none !important;
}
.sidebar a.dropdown-toggle:before {
  content: "\f067";
  font-family: FontAwesome;
  position: absolute;
  right: 15px;
  font-size: 12px;
  line-height: 29px;
}
.sidebar li.show.dropdown a.dropdown-toggle:before {
  content: "\f068";
}

.content {
  margin-left: 250px;
  padding: 25px 25px 0px 25px;
}
.upgrade {
  color: #fff !important;
  width: 175px;
  border-radius: 30px !important;
  font-weight: 600;
}
.upgrade {
  background: linear-gradient(
    250deg,
    rgba(39, 107, 231, 1) 50%,
    rgba(77, 138, 251, 1) 100%
  );
  color: #fff;
}

.upgrade:hover {
  background: linear-gradient(
    -250deg,
    rgba(39, 107, 231, 1) 50%,
    rgba(77, 138, 251, 1) 100%
  );
  color: #fff !important;
}

.progress--circle {
  position: relative;
  display: inline-block;
  margin: 1rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ddd;
}
.progress--circle:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
}
.progress--circle:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2569e6;
}

.progress__number {
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 1;
  margin-top: -0.75rem;
  text-align: center;
  font-size: 1.5rem;
  color: #777;
}
.progress--bar.progress--50:after {
  width: 50%;
}

.progress--circle.progress--50:after {
  background-image: linear-gradient(
      -90deg,
      #2569e6 50%,
      transparent 50%,
      transparent
    ),
    linear-gradient(270deg, #2569e6 50%, #b5ccf7 50%, #b5ccf7);
}
.progrssbox {
  background: #ffffff;
  padding: 5px;
  box-shadow: 0px 0px 2px #ccc;
  border-radius: 3px;
}
.box-div {
  background: #f5faff;
  border-radius: 0px 100px 100px 0px;
  padding: 15px;
  text-align: center;
}
.text-progress h2 {
  margin-bottom: 0px;
  font-size: 18px;
}

.text-progress p {
  color: #9d9fa3;
  text-transform: uppercase;
}
.box-div img {
  height: 63px;
}
img {
  max-width: 100;
}
.chartbox {
  background: #ffffff;
  padding: 15px;
  box-shadow: 0px 0px 2px #ccc;
  border-radius: 3px;
}
.form-control.width-50 {
  float: right;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-control.width-50 i {
  color: #276be7;
}
.copyrightd {
  border-top: 1px solid #ccc;
  padding: 15px 0px;
  color: #999999;
  font-size: 12px;

}
.bottom-div{position: absolute;
    bottom: 66px;
    width: 100%;
    left: 0;}
.activediv{background: linear-gradient(
    250deg,
    rgba(39, 107, 231, 1) 50%,
    rgba(77, 138, 251, 1) 100%
  );
  color: #fff;}
  ul.bottom-div li a.activediv {
    color: #fff;
}
ul.bottom-div li a:hover {
    color: #36445b !important;
}


.sidebar ul li a i {
    margin-right: 15px;
}